.root {
  width: 316px;
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: var(--mantine-color-gray-9); */
  background-image: url(/riven_template.png);
  --riven-color: #c3aae5;
}

.polarity {
  position: absolute;
  right: 15%;
  top: 10%;
  fill: var(--riven-color);
}

.weapon {
  position: absolute;
  top: 50%;
  font-size: 16;
  font-weight: 700;
  color: var(--riven-color);
}

.mod_name {
  position: absolute;
  top: calc(50% + 1.2rem);
  font-size: 16;
  font-weight: 700;
  color: var(--riven-color);
}
.attributes {
  position: absolute;
  top: calc(50% + 3rem);
  font-size: 15;
  color: var(--riven-color);
}

.attribute_text {
  line-height: 1.2rem;
}

.mastery {
  position: absolute;
  left: 21%;
  bottom: 12%;
  font-weight: 600;
  color: var(--riven-color);
}

.reroll {
  position: absolute;
  right: 20%;
  bottom: 12%;
  color: var(--riven-color);
}
.rank {
  position: absolute;
  left: 34.1%;
  bottom: 2.1%;
}
.circle {
  margin-left: 4.3px;
  color: #9bbbff;
  text-shadow: 0 0 7px #000000;
}
.hover {
  position: absolute;
  width: 100%;
  bottom: 0;
}
