.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--mantine-color-gray-6);
  box-shadow: 0 0 10px var(--mantine-color-blue-0);
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 10px var(--mantine-color-blue-6);
  }
}

.icon {
  padding: 0.5rem;
}