.container {
  &.alert {
    margin-top: 30px;
  }
}

.databaseLogging {
  margin-top: 30px;
}

.databaseLogging {
  --offset: 300px;
  height: calc(100vh - var(--offset)) !important;

  &[data-alert="true"] {
    --offset: 350px;
  }
}