.transactions {
  --offset: 250px;
  height: calc(100vh - var(--offset)) !important;
  &.alert {
    --offset: 280px;
  }
}

.log_parser {
  --offset: 334px;
  height: calc(100vh - var(--offset)) !important;
  &.alert {
    --offset: 280px;
  }
}
