.hoverButton {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.attributesSection {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  padding: 2px;
}

.footerSection {
  background: blue;
  border-top: 10px solid var(--mantine-color-dark-4);

}