.splashScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  background-color: var(--mantine-color-dark-7);

  &[data-show] {
    animation: fadeOut 4.5s forwards;
  }
}

.icon {
  --size: 100px;
  position: absolute;
  width: var(--size);

  &[data-opened] {
    animation: zoomIn 2.0s forwards;
    animation-delay: 2.0s;
  }

}

.text {
  position: absolute;
  top: calc(50% + 50px);
  font-size: 2rem;
  text-align: center;

  &[data-show] {
    animation: fadeOut 3.5s forwards;
  }
}

@keyframes fadeOut {

  0%,
  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes zoomIn {
  50% {
    width: var(--size);
  }

  60% {
    width: calc(var(--size) * 0.9);
  }

  100% {
    width: 250%;
  }
}