.tabs {
  margin-top: 25px;

  &[data-has-alert="true"] {
    margin-top: 45px;
  }
}

.databaseTransactions {
  --offset: 500px;
  height: calc(100vh - var(--offset)) !important;
  transition: height 0.2s ease;

  &.alert {
    --offset: 295px;
  }

  &.filterOpened {
    --offset: 425px;
  }

  &.alert.filterOpened {
    --offset: 410px;
  }
}