.navbar {
  padding: var(--mantine-spacing-xs);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbarMain {
  flex: 1;
}

.link {
  --size: rem(50px);
  position: relative;
  width: var(--size);
  height: var(--size);
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
  }
  
  &[data-active] {
    
    &,
    &:hover {
      background-color: var(--mantine-color-blue-light);
      color: var(--mantine-color-blue-light-color);
    }
  }
}