.thead {
  background-color: var(--mantine-color-dark-7);
}

.tbody {
  background-color: var(--mantine-color-dark-1);
}

.tfoot {
  background-color: var(--mantine-color-dark-1);
}

.loader {
  z-index: 34;
  position: absolute;
  background-color: alpha(var(--mantine-color-dark-8), 0.75);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0;
  &[data-fetching='true'] {
    transition: opacity 0.2s;
    pointer-events: all;
    opacity: 1;
  }
}