.root {
  border: 1px solid var(--mantine-color-dark-3);
  &[data-order-type="buy"] {
    box-shadow: inset 4px 0 0 0 var(--mantine-color-red-7);
  }
  &[data-order-type="sell"] {
    box-shadow: inset 4px 0 0 0 var(--mantine-color-green-7);
  }
}