/* height={`calc(100vh - ${!is_running ? "400px" : "420px"})`} */
.context {
  margin-top: 25px;

  &[data-has-alert="true"] {
    margin-top: 50px;
  }
}

.databaseItems,
.databaseRivens {
  --offset: 230px;
  height: calc(100vh - var(--offset)) !important;

  &.alert {
    --offset: 252px;
  }
}

.chartUsers {
  --offset: 150px;
  height: calc(100vh - var(--offset)) !important;

  &.alert {
    --offset: 250px;
  }
}