/* height={`calc(100vh - ${!is_running ? "400px" : "420px"})`} */
.context {
  margin-top: 25px;
  &[data-has-alert="true"] {
    margin-top: 50px;
  }
}

.databaseItem {
  --offset: 230px;
  height: calc(100vh - var(--offset)) !important;
  &.alert {
    --offset: 240px;
  }
}
.databaseSyndicate {
  --offset: 211px;
  height: calc(100vh - var(--offset)) !important;
  &.alert {
    --offset: 240px;
  }
}

.itemCardChart {
  --offset: 366px;
  width: 100%;
  height: calc(100vh - var(--offset)) !important;
  &.alert {
    --offset: 385px;
  }
}
