.root {
  display: flex ;
  align-items: center;
  justify-content: space-between;
  border: 1px solid;
  border-radius: 0.2em;
  padding: 2px 10px 2px 10px;

  &[data-positive='true'] {
    border-color: var(--mantine-color-green-8);
    background: linear-gradient(90deg, var(--mantine-color-green-8) 0%, var(--mantine-color-green-6) 100%);
  }

  &[data-positive='false'] {
    border-color: var(--mantine-color-red-8);
    background: linear-gradient(90deg, var(--mantine-color-red-8) 0%, var(--mantine-color-red-6) 100%);
  }
}