/* height={`calc(100vh - ${!is_running ? "400px" : "420px"})`} */
.liveTrading {
  margin-top: 25px;

  &[data-has-alert="true"] {
    margin-top: 50px;
  }
}

.databaseStockItems,
.databaseStockRivens,
.databaseStockWishlist {
  --offset: 400px;
  height: calc(100vh - var(--offset)) !important;

  &.alert {
    --offset: 419px;
  }

  &.running {
    --offset: 425px;
  }

  &.alert.running {
    --offset: 445px;
  }
}