:root {
  --shine-base: #12da00;
  --shine-highlight: #ffffff;
  --shine-angle: 45deg;
  --shine-size: 250% auto;
  --shine-pos-start: -25% center;
  --shine-pos-end: 135% center;
}
.newsTicker {
  margin: 0px 0;
  display: flex;
  overflow: hidden;
}

@keyframes slide {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(-100%);
  }
}

.tickerContent {
  width: fit-content;
  display: flex;
  transform: translateX(100vw);
  animation: slide 60s linear infinite;
  /* animation-delay: 10s; */
}

.newsTicker:hover .tickerContent {
  animation-play-state: paused;
}

.tickerItem {
  display: flex;
  align-items: center;
  padding: 8px;
  &[data-clickable="true"] {
    cursor: pointer;
    &:hover {
      color: var(--mantine-color-blue-4);
    }
  }
}

.tickerText {
  line-height: 1.5;
  white-space: nowrap;
}
