.patreonButton {
  background: linear-gradient(90deg, #ff424d, #ff7b54);
  transition: transform 150ms ease, box-shadow 150ms ease;
  box-shadow: 0 0 10px rgba(255, 66, 77, 0.6);

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 0 15px rgba(238, 28, 39, 0.8);
  }
}