.root {
  &[data-has-alert="true"] {
    margin-top: 30px;
  }
}

.orders {
  height: calc(100vh - 310px);

  &[data-has-alert="true"] {
    height: calc(100vh - 340px);
  }
}

.auctions {
  height: calc(100vh - 270px);

  &[data-has-alert="true"] {
    height: calc(100vh - 302px);
  }
}