.tabs {
  margin-top: 25px;

  &[data-has-alert="true"] {
    margin-top: 45px;
  }
}


.databaseItem {
  --offset: 305px;
  height: calc(100vh - var(--offset)) !important;
  transition: height 0.2s ease;

  &.alert {
    --offset: 350px;
  }

  &.filterOpened {
    --offset: 408px;
  }

  &.alert.filterOpened {
    --offset: 416px;
  }
}