:root {
  --rainbow-colors: linear-gradient(45deg,
      #ffff00,
      #00ff00,
      #0099ff,
      #001aff,
      #a200ff,
      #ff0055,
      #ff0000,
      #ff0055,
      #ff0000,
      #ffff00,
      #00ff00,
      #0099ff,
      #001aff,
      #a200ff);
}

/* Generic Color Binding by Mode */
[data-color-mode="bg"] {
  background-color: var(--color);
}

[data-color-mode="text"] {
  color: var(--color);
}

[data-color-mode="box-shadow"] {
  box-shadow: inset 4px 0 0 0 var(--color);
}

[data-color-mode="text-shadow"] {
  text-shadow: 0 0 10px var(--color);
}

[data-user-status="online"] {
  --color: var(--qf-user-status-online);
}

[data-user-status="invisible"],
[data-user-status="offline"] {
  --color: var(--qf-user-status-invisible);
}

[data-user-status="ingame"],
[data-user-status="in_game"] {
  --color: var(--qf-user-status-ingame);
}

[data-transaction-type="purchase"] {
  --color: var(--qf-transaction-type-purchase);
}

[data-transaction-type="sale"] {
  --color: var(--qf-transaction-type-sale);
}

[data-transaction-type="trade"] {
  --color: var(--qf-transaction-type-trade);
}

[data-stock-status="pending"] {
  --color: var(--qf-stock-status-pending);
}

[data-stock-status="live"] {
  --color: var(--qf-stock-status-live);
}

[data-stock-status="to_low_profit"] {
  --color: var(--qf-stock-status-to_low_profit);
}

[data-stock-status="no_sellers"] {
  --color: var(--qf-stock-status-no_sellers);
}

[data-stock-status="no_buyers"] {
  --color: var(--qf-stock-status-no_buyers);
}

[data-stock-status="inactive"] {
  --color: var(--qf-stock-status-inactive);
}

[data-stock-status="sma_limit"] {
  --color: var(--qf-stock-status-sma_limit);
}

[data-stock-status="order_limit"] {
  --color: var(--qf-stock-status-order_limit);
}

[data-stock-status="overpriced"] {
  --color: var(--qf-stock-status-overpriced);
}

[data-stock-status="underpriced"] {
  --color: var(--qf-stock-status-underpriced);
}

[data-alert-type="error"] {
  --color: var(--qf-alert-type-error);
}

[data-alert-type="warning"] {
  --color: var(--qf-alert-type-warning);
}

[data-alert-type="info"] {
  --color: var(--qf-alert-type-info);
}

[data-alert-type="success"] {
  --color: var(--qf-alert-type-success);
}

[data-item-type="item"] {
  --color: var(--qf-item-type-item);
}

[data-item-type="riven"] {
  --color: var(--qf-item-type-riven);
}

[data-order-type="buy"] {
  --color: var(--qf-negative-color);
}

[data-order-type="sell"] {
  --color: var(--qf-positive-color);
}