@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
section.notFound * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P";
    color: #ffffff;
    text-align: center;
}

body {
    background-color: #1c1c1c;
}

section.notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5%;
    height: 100vh;
    position: relative;
}

section.notFound h1,
section.span {
    color: red;
    font-size: 100px;
}

section.notFound h2 {
    font-size: 50px;
}

section.notFound h1,
section.h2,
section.h3 {
    margin-bottom: 40px;
}

div.text {
    height: 50vh;
}

div.text a {
    text-decoration: none;
    margin-right: 20px;
}

section.notFound div.text a:hover {
    color: red;
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    section.notFound {
        flex-direction: column;
        justify-content: space-around;
    }
    section.notFound div.img img {
        width: 70vw;
        height: auto;
    }
    section.notFound h1 {
        font-size: 50px;
    }
    section.notFound h2 {
        font-size: 25px;
    }
    div.text a:active {
        color: red;
        text-decoration: underline;
    }
}